body {
    background-color: #fcb6ae;
    margin-top: 50px;
}

.wrapper {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #f7f2f2;
    border-radius: 30px;
}

.purchase_form {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
    height: fit-content;
    margin: 100px;
    padding: 50px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-color: #b9b5b5;
    border-right-width: 3px;
    background-color: #ffffff;
    box-shadow: 10px 12px 10px #08070780;
}

.img {
    margin: 40px;
    width: fit-content;
    height: fit-content;
}

.purchase_details {
    margin: 40px;
    padding: 20px;
    background-color: #f5f3f7;
}

#text_field {
    width: 470px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
}