body {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
}

.wrapper {
    width: 50%;
    height: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(245, 227, 231);
    box-shadow: 10px 12px 10px rgba(8, 7, 7, 0.5);
}

.img {
    background-color: rgb(255, 254, 254);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 800px;
}

.product_name {
    padding: 20px;
    background-color: rgb(245, 229, 229);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.product_details {
    margin: 20px;
    padding: 20px;
    border-color: rgb(245, 227, 231);
}

#img {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}